.item {
    padding-left: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    border-top: 0 solid var(--border-color);
    transition: 0.1s border-top-width;
}

.icon {
    fill: var(--inverted-secondary-color);
}

.link {
    margin-left: 10px;
    opacity: 1;
    transition: 4s opacity;
}

.collapsed {
    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
        display: none;
    }
}
