.dark {
    --bg-color: #343131;
    --inverted-bg-color: #f3f3f3;
    --primary-color: #adadad;
    --secondary-color: #696969;
    --inverted-primary-color: #000;
    --inverted-secondary-color: #595959;
    --border-color: rgb(212 224 248 / 68%);
}
