:root {
    --bg-color: #fdfdfd;
    --inverted-bg-color: #64a4d4;
    --primary-color: #000;
    --secondary-color: #595959;
    --inverted-primary-color: #3a3a3a;
    --inverted-secondary-color: #3a3a3a;
    --border-color: rgb(73 96 137 / 68%);
}
