.app.light {
  --bg-color: #f3f3f3;
  --inverted-bg-color: #343131;

  --primary-color: #000000;
  --secondary-color: #595959;

  --inverted-primary-color: #adadad;
  --inverted-secondary-color: #696969;
}